<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weapon Detection</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS file -->
</head>
<body>
    <header>
        <h1>Welcome to Weapon Detection</h1>
        <h2>Weapon Detection Made Easy</h2>
        <p>Upload an image or video file for detection.</p>
    </header>

    <main>
        <div class="upload-container">
            <input type="file" id="fileInput" />
            <button onclick="startDetection()">Upload</button>
        </div>

        <div id="loading" class="loading" style="display:none;">
            <img src="/static/loading.gif" alt="Loading..." /> <!-- Animated loading GIF -->
        </div>
        
        <div id="result" class="result"></div>
    </main>

    <footer>
        <p>Powered by Flask and YOLO Object Detection</p>
        <p>Developed by Anwar Hussain</p>
        <a href="https://github.com/anwarhussain53" target="_blank" class="github-link">
            <img src="/static/github.png" alt="GitHub Logo" class="github-logo" />
        </a>
    </footer>

    <script src="/static/app.js"></script> <!-- JavaScript for handling file uploads and detection -->
</body>
</html>
